@charset "UTF-8";
.big-btn {
  width: 400px;
  height: 60px;
  border: 1px solid #161616;
  font-size: 14px;
  background-color: white;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button, p, h1, h2, h3, h4, li, span {
  font-family: "SF Pro Display";
  color: #161616;
  text-decoration: none;
}

p, button, li, span {
  font-size: 14px;
}

.big-txt {
  font-size: 18px;
}

h1, h2, h3 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

.h-footer {
  font-size: 14px;
}

nav .part1 {
  height: 55.5px;
  border-bottom: 1px solid #161616;
  display: grid;
  grid-template-columns: repeat 5, 1fr 2fr 1fr;
  align-items: center;
}
nav .part1 img {
  grid-column: 2/3;
}
nav .part1 .nav1 {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
nav .part1 .nav2 {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
}
nav .part1 .nav3 {
  grid-column: 6/8;
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
  position: relative;
}
nav .part1 .nav3 .lang a:hover {
  color: #CACACA;
}
nav .part1 .nav3 button {
  border: 0px;
  background-color: white;
}
nav .part1 .nav3 button::before {
  background-image: url("../images/icon.share.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
nav .part1 .nav3 .nav4::before {
  background-image: url("../images/icon.login.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%; /*почему не отображается?*/
}
nav .part2 {
  position: absolute;
  width: 196px;
  height: 65px;
  top: 56px;
  left: 1146px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20.5px;
       column-gap: 20.5px;
}

main {
  background-image: url("../images/slide.png");
  background-position: 100px;
  background-repeat: no-repeat;
}
main .container1 {
  height: 1332px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  grid-template-rows: 384.5px 634px 1fr;
}
main .container1 .box1 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container1 .box1 h1 {
  font-family: "SF Pro Display";
}
main .container1 .box2 {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}
main .container1 .box3 {
  grid-area: 2/2/3/4;
  background-image: url("../images/background.pic.png");
}
main .container1 .box4 {
  grid-area: 3/3/4/4;
  display: flex;
  align-items: center;
}
main .container2 {
  height: 850px;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 143px;
}
main .container2 .box1 {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}
main .container2 .box1 h4 {
  grid-column: 1/4;
}
main .container2 .box1 .txt1 {
  grid-area: 2/1/3/3;
  align-self: center;
  margin-left: 90px;
}
main .container2 .box1 .txt1::before {
  background-image: url("../images/background.arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: -90px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%; /*также не работает псевдоэлемент*/
}
main .container2 .box1 .txt2 {
  grid-area: 2/3/3/5;
  align-self: center;
  margin-left: 90px;
}
main .container2 .box1 .txt2::before {
  background-image: url("../images/background.arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: -90px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
main .container2 .box2 {
  grid-area: 2/3/3/4;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
main .container3 {
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-template-rows: 76px 214px 1fr;
}
main .container3 h2 {
  grid-column: 2/3;
}
main .container3 div {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
main .container3 div a:visited {
  color: #CACACA;
}
main .container3 .big-btn {
  grid-column: 2/3;
}
main .container4 .wrapper1 {
  height: 1725px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 150px 675px 150px 600px 150px;
}
main .container4 .wrapper1 .box1 {
  grid-column: 2/5;
}
main .container4 .wrapper1 .box2 {
  grid-area: 2/2/3/5;
  width: 998, 72px;
  height: 675px;
}
main .container4 .wrapper1 .box3 {
  grid-area: 4/2/5/3;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: 107px;
}
main .container4 .wrapper1 .box4 {
  grid-area: 4/3/5/6;
  /*почему картинка не вписывается в ширину, дае если задать отдельно width для нее*/
}
main .container4 .wrapper2 {
  height: 1333px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 750px 503px 70px;
  row-gap: 10px;
}
main .container4 .wrapper2 .box5 {
  grid-column: 2/3;
}
main .container4 .wrapper2 .box6 {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container4 .wrapper2 .box7 {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 70px;
}
main .container4 .wrapper2 .box7 ul {
  margin-top: 70px;
  height: 293px;
  line-height: 200%;
}
main .container4 .wrapper2 .box8 {
  grid-area: 2/4/3/5;
}
main .container4 .wrapper2 .box9 {
  grid-area: 3/2/4/5;
  border-bottom: 1px solid #161616;
}
main .container4 .wrapper3 {
  height: 205px;
  display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  align-items: center;
}
main .container4 .wrapper3 .box10 {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}
main .container4 .wrapper3 .box10 .arrow1 {
  background-image: url("../images/arrow.button.left.png");
  background-color: white;
  width: 60px;
  height: 60px;
}
main .container4 .wrapper3 .box10 .arrow2 {
  background-image: url("../images/arrow.button.right.png");
  background-color: white;
  width: 60px;
  height: 60px;
}
main .container5 {
  height: 430px;
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
}
main .container5 .box1 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
main .container5 .box1 div {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

footer {
  background-color: #161616;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr repeat(4, 1fr);
  grid-template-rows: 272px 51px;
}
footer .box1 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 40px;
}
footer .box1 img {
  width: 102px;
  height: 32px;
}
footer .box1 p {
  color: white;
  width: 400px;
  margin-left: 55px;
}
footer .box2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 40px;
  position: relative;
}
footer .box2 h4 {
  color: white;
  margin-left: 50px;
}
footer .box2 h4::before {
  background-image: url("../images/line.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: -50px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
footer .box2 div div {
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .box2 div span {
  color: white;
  padding-right: 5px;
}
footer .box2 div button {
  color: white;
  background-color: #161616;
  border: none;
}
footer .box3 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 40px;
  position: relative;
}
footer .box3 h4 {
  color: white;
  margin-left: 50px;
}
footer .box3 h4::before {
  background-image: url("../images/line.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: -50px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
footer .box3 p {
  color: white;
}
footer .box4 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 40px;
  position: relative;
}
footer .box4 h4 {
  color: white;
  margin-left: 50px;
}
footer .box4 h4::before {
  background-image: url("../images/line.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  left: -50px;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
footer .box4 p {
  color: white;
  line-height: 200%;
}
footer .box5 {
  grid-area: 2/2/3/6;
  margin-left: 55px;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
footer .box5 span {
  color: white;
}
footer .box5 a {
  color: white;
}
footer .box5 a:first-child {
  margin-left: auto; /*не работает тк нет свободного места?*/
}/*# sourceMappingURL=style.css.map */