@import './general'; 

nav{
    .part1{
        height: 55.5px;
        border-bottom: 1px solid $color;
        display: grid;
        grid-template-columns: repeat (5, 1fr) 2fr 1fr;
        align-items: center;
        img{
            grid-column: 2/3;
        }
        .nav1{
            grid-column: 3/4;
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
        .nav2{
            grid-column: 4/5;
            display: flex;
            justify-content: flex-end;
        }
        .nav3{
            grid-column: 6/8;
            display: flex;
            column-gap: 70px;
            .lang{
                a:hover{
                    color: $col-link;
                }
            }
            button{
                border: 0px;
                background-color: white;
            }
            .nav4::before{
                background-image: url('../images/icon.login.png');
                background-position: center center;
                background-repeat: no-repeat;
                position:absolute;
                left: -5px;
                top: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 100%; /*почему не отображается?*/
            }
        }
    }
    .part2{
        position: absolute;
        width: 196px;
        height: 65px;
        top: 56px;
        left: 1146px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20.5px;
    }
}

main{
    background-image: url('../images/slide.png');
    background-position: 100px;
    background-repeat: no-repeat;

    .container1{
        height: 1332px;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 1fr;
        grid-template-rows: 384.5px 634px 1fr;
        .box1{
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-family: $font;
            }
        }
        .box2{
            grid-column: 3/4;
            display: flex;
            align-items: center;
        }
        .box3{
            grid-area: 2/ 2/ 3/ 4;
            background-image: url('../images/background.pic.png');
        }
        .box4{
            grid-area: 3/ 3/ 4/4 ;
            display: flex;
            align-items: center;
        }
    }

    .container2{
        height: 850px;
        display: grid;
        grid-template-columns: 2fr 2fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 143px;
        .box1{
            grid-column: 2/4;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            column-gap: 30px;
            h4{
                grid-column: 1/4;
            }
            .txt1{
                grid-area: 2/ 1/ 3/ 3;
                align-self: center;
                margin-left: 90px;
            }
            .txt1::before{
                background-image: url('../images/background.arrow.png');
                background-position: center center;
                background-repeat: no-repeat;
                position:absolute;
                left: -90px;
                top: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 100%; /*также не работает псевдоэлемент*/
            }
            .txt2{
                grid-area: 2 / 3/ 3 / 5;
                align-self: center;
                margin-left: 90px;
            }
            .txt2::before{
                background-image: url('../images/background.arrow.png');
                background-position: center center;
                background-repeat: no-repeat;
                position:absolute;
                left: -90px;
                top: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .box2{
            grid-area: 2/ 3/ 3/ 4;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    .container3{
        height: 500px;
        display: grid;
        grid-template-columns: 2fr 5fr 1fr;
        grid-template-rows: 76px 214px 1fr;
        h2{
            grid-column: 2/3;
        }
        div{
            grid-column: 2/3;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            row-gap: 40px;
            column-gap: 20px;
            a:visited{
                color: $col-link;
            }
        }
        .big-btn{
            grid-column: 2/3;
        }
    }

    .container4{
        .wrapper1{
            height: 1725px;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
            grid-template-rows: 150px 675px 150px 600px 150px;
            .box1{
                grid-column: 2/5;
            }
            .box2{
                grid-area: 2/ 2/ 3/ 5;
                width: 998,72px;
                height: 675px;
            }
            .box3{
                grid-area: 4/ 2/ 5/ 3;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-right: 107px;
            }
            .box4{
                grid-area: 4/ 3/ 5/ 6;
                /*почему картинка не вписываетс в ширину, даж если задать отдельно width для нее*/
            }
        }
        .wrapper2{
            height: 1333px;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
            grid-template-rows: 750px 503px 70px;
            row-gap: 10px;
            .box5{
                grid-column: 2/3;
            }
            .box6{
                grid-column: 4/5;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .box7{
                grid-area: 2/ 2/ 3/ 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 70px;
                ul{
                    margin-top: 70px;
                    height: 293px;
                    line-height: 100%; /*почему не работает это свойство?*/
                }
            }
            .box8{
                grid-area: 2/ 4/ 3/ 5;
            }
            .box9{
                grid-area: 3 /2 / 4/ 5;
                border-bottom: 1px solid $color;
            }
        }
        .wrapper3{
            height: 205px ;
            display: grid;
            grid-template-columns: 4fr 1fr 3fr;
            align-items: center;
            .box10{
                grid-column: 2/3;
                display: flex;
                justify-content: space-between;
                .arrow1{
                    background-image: url('../images/arrow.button.left.png');
                    background-color: white;
                    width: 60px;
                    height: 60px;
                }
                .arrow2{
                    background-image: url('../images/arrow.button.right.png');
                    background-color: white;
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .container5{
        height: 430px;
        display: grid;
        grid-template-columns: 4fr 3fr 1fr;
        .box1{
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 40px;
            div{
                display: flex;
                column-gap: 40px;
            }
        }
    }
}

footer{
    background-color: $color;
    color:white;
    display: grid;
    grid-template-columns: 1fr 3fr repeat(4, 1fr);
    grid-template-rows: 272px 51px;
    .box1{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        row-gap: 40px;
        img{
            width:102px;
            height: 32px;
        }
        p{
            color:white;
            width: 400px;
            margin-left: 55px;
        }
    }
    .box2{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        row-gap: 40px;
        h4{
            color: white;
            margin-left: 50px;
        }
        h4:before{
            background-image: url('../images/line.png');
            background-position: center center;
            background-repeat: no-repeat;
            position:absolute;
            left: -50px;
            top: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
        div{
            div{
                padding-top: 5px;
                padding-bottom: 5px;
            }
            span{
                color: white;
                padding-right: 5px;
            }
            button{
                color:white;
                background-color: $color;
                border: none;
            }
        }
    }
    .box3{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        row-gap: 40px;
        h4{
            color: white;
            margin-left: 50px;
        }
        h4:before{
            background-image: url('../images/line.png');
            background-position: center center;
            background-repeat: no-repeat;
            position:absolute;
            left: -50px;
            top: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
        p{
            color: white;
        }
    }
    .box4{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        row-gap: 40px;
        h4{
            color: white;
            margin-left: 50px;
        }
        h4:before{
            background-image: url('../images/line.png');
            background-position: center center;
            background-repeat: no-repeat;
            position:absolute;
            left: -50px;
            top: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
        p{
            color:white;
            line-height: 17px;
        }
    }
    .box5{
        grid-area: 2/ 2/ 3/ 6;
        margin-left: 55px;
        border-top: 1px solid white;
        display: flex;
        align-items: center;
        column-gap: 30px;
        span{
            color:white;
        }
        a{
            color:white;
        }
        a:first-child{
            margin-left: auto; /*не работает тк нет свободного места?*/
        }
    }
}